In [25]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [26]:
df =  pd.read_csv('company-document-text.csv')
df

,text,label,word_count
0,order id 10718 shipping details ship name k...,ShippingOrder,120
1,invoice order id 10707 customer id arout ord...,invoice,66
2,order id 10448 shipping details ship name r...,ShippingOrder,96
3,invoice order id 11068 customer id queen ord...,invoice,68
4,order id 10656 shipping details ship name g...,ShippingOrder,109
...,...,...,...
2671,order id 10326 shipping details ship name b...,ShippingOrder,111
2672,purchase orders order id order date customer n...,purchase Order,39
2673,invoice order id 10460 customer id folko ord...,invoice,59
2674,stock report for 2018-01 category meat poult...,report,46
2675,purchase orders order id order date customer n...,purchase Order,36

In [27]:
nltk.download("stopwords")
stop_words =  set(stopwords.words("english"))
stemmer = PorterStemmer()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [28]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r"[^\w\s]", "", text)#remove special charactrers
    text = re.sub(r"\s+", " ",text)#remove extra whitespace
    text = " ".join([stemmer.stem(word) for word in text.split() if word not in stop_words])
    return text

In [29]:
df['Cleaned Text'] = df["text"].apply(clean_text)

In [30]:
df

,text,label,word_count,Cleaned Text
0,order id 10718 shipping details ship name k...,ShippingOrder,120,order id 10718 ship detail ship name königlich...
1,invoice order id 10707 customer id arout ord...,invoice,66,invoic order id 10707 custom id arout order da...
2,order id 10448 shipping details ship name r...,ShippingOrder,96,order id 10448 ship detail ship name rancho gr...
3,invoice order id 11068 customer id queen ord...,invoice,68,invoic order id 11068 custom id queen order da...
4,order id 10656 shipping details ship name g...,ShippingOrder,109,order id 10656 ship detail ship name great lak...
...,...,...,...,...
2671,order id 10326 shipping details ship name b...,ShippingOrder,111,order id 10326 ship detail ship name bólido co...
2672,purchase orders order id order date customer n...,purchase Order,39,purchas order order id order date custom name ...
2673,invoice order id 10460 customer id folko ord...,invoice,59,invoic order id 10460 custom id folko order da...
2674,stock report for 2018-01 category meat poult...,report,46,stock report 201801 categori meat poultri id c...
2675,purchase orders order id order date customer n...,purchase Order,36,purchas order order id order date custom name ...

LABEL ENCODING

In [32]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['label']= label_encoder.fit_transform(df['label'])


from datasets import Dataset

dataset = Dataset.from_pandas(df[["Cleaned Text", "label"]])

In [33]:
dataset

Dataset({
    features: ['Cleaned Text', 'label'],
    num_rows: 2676
})

In [43]:
split_dataset = dataset.train_test_split(test_size=0.2, seed = 42)
train_text = split_dataset['train']
test_text = split_dataset['test']

Tokenization With Bert